ion-toolbar {
  --background: black;
  opacity: 80%;

  box-shadow: 0px 1px 0px #c6930a;

  // --ion-toolbar-color	: #c6930a;
  ion-title {
    color: #c6930a;
    font-weight: 600;
  }
}
ion-content {
  --background: #000000;
}
