ion-toolbar {
  --background: black;
  box-shadow: 0px 3px 0px #333333;
  // --ion-toolbar-color	: #c6930a;

  ion-title {
    color: #c6930a;
    text-align: center;
    font-size: 1.8em;
  }
}
ion-content {
  --background: #000000;
  align-items: center;
  display: flex;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-button {
  --background: #000000;
  color: #c6930a;
  width: 100px;
  height: 100px;
  padding: 1px;
  margin: auto;
  font-size: 1.7em;
  display: block;
}
